
<div class="list-container">
  <div class="list-header">
    <h1>My MovieFlix Library</h1>
    <a routerLink="/movies/create" class="add-movie-btn">
      <span class="plus-icon">+</span> Add New Movie
    </a>
  </div>

  <div class="list-column-titles">
    <span class="col-name">Name</span>
    <span class="col-genre">Genre</span>
    <span class="col-year">Year</span>
    <span class="col-rating">Rating</span>
    <span class="col-actions">Actions</span>
  </div>

  <div class="movie-list">
    <div class="movie-row" *ngFor="let movie of movies">
      <span class="col-name">{{ movie.name }}</span>
      <span class="col-genre">{{ movie.genre }}</span>
      <span class="col-year">{{ movie.relYear }}</span>
      <span class="col-rating">{{ movie.rating || 'N/A' }}</span>

      <div class="col-actions actions-container">
        <a routerLink="/movies/details/{{ movie.id }}" class="btn btn-view">View</a>
        <a routerLink="/movies/edit/{{ movie.id }}" class="btn btn-edit">Edit</a>
        <button (click)="deleteMovie(movie.id!)" class="btn btn-delete">Delete</button>
      </div>

    </div>
  </div>

</div>