<div class="form-layout-container">
  <div class="form-card">
    
    <h1>{{ formTitle }}</h1>

    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">

      
      <div class="form-group">
        <label for="name">Movie Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" placeholder="e.g., The Matrix">
        <div *ngIf="movieForm.get('name')?.invalid && movieForm.get('name')?.touched" class="invalid-feedback">Name is required.</div>
      </div>

      <div class="form-group">
        <label for="genre">Genre</label>
        <input id="genre" formControlName="genre" type="text" class="form-control" placeholder="e.g., Sci-Fi">
        <div *ngIf="movieForm.get('genre')?.invalid && movieForm.get('genre')?.touched" class="invalid-feedback">Genre is required.</div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="relYear">Release Year</label>
          <input id="relYear" formControlName="relYear" type="number" class="form-control" placeholder="e.g., 1999">
          <div *ngIf="movieForm.get('relYear')?.errors?.['required'] && movieForm.get('relYear')?.touched" class="invalid-feedback">Required</div>
        </div>

        
        <div class="form-group" id="rate">
          <label for="rating">Rating (1-10)</label>
          <input id="rating" formControlName="rating" type="number" class="form-control" placeholder="e.g., 8.7">
          <div *ngIf="movieForm.get('rating')?.invalid && movieForm.get('rating')?.touched" class="invalid-feedback">1-10</div>
        </div>
        
      </div>

      <div class="button-group">
        <button type="submit" [disabled]="movieForm.invalid" class="btn btn-submit">{{ isEditMode ? 'Update Movie' : 'Add to Library' }}</button>
        <a routerLink="/movies" class="btn btn-cancel">Cancel</a>
      </div>

    </form>
  </div>
</div>